*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image:url(./image/contact1.jpg);
    background-position: bottom;
    background-size: cover;
    
     
    
}

form{
    display: flex; 
    flex-direction: column; 
}




.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    background-color: rgb(76, 225, 252);
    height: 250px;
    width:300px;
    border-radius: 8px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

.box h1{
    
    color:rgb(228, 0, 105);
}




input{
    margin-top: 10px;
    height: 20px;
    width: 200px;
    background-color: rgb(250, 248, 248);
    border: none;
    border-radius: 3px;
    
}

input:focus{
    outline: none;
}

label{
     
    color: rgb(7, 125, 129);

    margin-top: 10px;
}

button{

    display: inline-block;
    height:30px;
    width: 60px;
    margin-top: 20px;   
    background-color:rgb(77, 177, 248);
    border: none;
    border-radius: 2px;
    cursor: pointer;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    transition: all .3s;
    color:rgba(241,220,207);
    
    
    
}

button:hover{
    transform: translateY(-3px);
}



table{
    margin-top: 25px; 
    background-color: blanchedalmond;
    width:300px ;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

#tr{
    color:rgb(7, 125, 129);
    
}

i{
    cursor: pointer;
}

.fas{
    color: red;
}

.far{
    color: rgb(7, 125, 129);;
}


